<div class="content">
    <mat-card>
        <mat-card-title>OSO - Open Source ONIVORO</mat-card-title>
        <p>ONIVORO specializes in solving problems using the latest open source technology.</p>
    </mat-card>

    <mat-card>
        <mat-card-title>Team Dynamics</mat-card-title>
        <p>ONIVORO can work together with your team or independently.</p>
    </mat-card>

    <mat-card>
        <mat-card-title>Process Flexibility</mat-card-title>
        <p>We are skilled in both Agile workflows as well as the traditional waterfall SDLC approach.</p>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Free Consultations
        </mat-card-title>
        <p>
            Contact ONIVORO today for so we can evaluate your requirements and get started on your project.
        </p>
        <button mat-stroked-button color="accent" (click)="request()">Request a Consultation</button>
    </mat-card>
</div>
