$primary-color: purple;
$accent-color: limegreen;
$red-color: red;
$white-color: #fff;
$black-color: rgba(0,0,0, 0.5);

$text-color: rgba(0,0,0, 0.8);
$disabled-text-color: rgba(0,0,0, 0.6);

$divider-color: $accent-color;