@use '@angular/material' as mat;
@import 'variables';
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$poker-primary: (
  50: $primary-color,
  100: $primary-color,
  200: $primary-color,
  300: $primary-color,
  400: $primary-color,
  500: $primary-color,
  600: $primary-color,
  700: $primary-color,
  800: $primary-color,
  900: $primary-color,
  A100: $white-color,
  A200: $white-color,
  A400: $white-color,
  A700: $white-color,
  contrast: (
    50: $white-color,
    100: $white-color,
    200: $white-color,
    300: $white-color,
    400: $white-color,
    500: $white-color,
    600: $white-color,
    700: $white-color,
    800: $white-color,
    900: $white-color,
    A100: $primary-color,
    A200: $primary-color,
    A400: $primary-color,
    A700: $primary-color,
  ),
);
$poker-secondary: (
  50: $accent-color,
  100: $accent-color,
  200: $accent-color,
  300: $accent-color,
  400: $accent-color,
  500: $accent-color,
  600: $accent-color,
  700: $accent-color,
  800: $accent-color,
  900: $accent-color,
  A100: $text-color,
  A200: $text-color,
  A400: $text-color,
  A700: $text-color,
  contrast: (
    50: $text-color,
    100: $text-color,
    200: $text-color,
    300: $text-color,
    400: $text-color,
    500: $text-color,
    600: $text-color,
    700: $text-color,
    800: $text-color,
    900: $text-color,
    A100: $accent-color,
    A200: $accent-color,
    A400: $accent-color,
    A700: $accent-color,
  ),
);
$poker-red: (
  50: $red-color,
  100: $red-color,
  200: $red-color,
  300: $red-color,
  400: $red-color,
  500: $red-color,
  600: $red-color,
  700: $red-color,
  800: $red-color,
  900: $red-color,
  A100: $white-color,
  A200: $white-color,
  A400: $white-color,
  A700: $white-color,
  contrast: (
    50: $white-color,
    100: $white-color,
    200: $white-color,
    300: $white-color,
    400: $white-color,
    500: $white-color,
    600: $white-color,
    700: $white-color,
    800: $white-color,
    900: $white-color,
    A100: $red-color,
    A200: $red-color,
    A400: $red-color,
    A700: $red-color,
  ),
);
$poker-primary-palette: mat.define-palette($poker-primary);
$poker-secondary-palette: mat.define-palette($poker-secondary);
$poker-red-palette: mat.define-palette($poker-red);

$poker-typography: mat.define-legacy-typography-config(
  $font-family: 'Roboto, sans-serif',
);

$primary-light-theme: (
  color: (
    primary: $poker-primary-palette,
    accent: $poker-secondary-palette,
    warn: $poker-red-palette,
    foreground: (
      base: $text-color,
      divider: $divider-color,
      dividers: $divider-color,
      disabled: $disabled-text-color,
      disabled-button: $disabled-text-color,
      disabled-text: $disabled-text-color,
      elevation: $text-color,
      hint-text: $white-color,
      secondary-text: $primary-color,
      icon: $primary-color,
      icons: $primary-color,
      text: $white-color,
      slider-min: $text-color,
      slider-off: $text-color,
      slider-off-active: $text-color,
    ),
    background: (
      status-bar: $white-color,
      app-bar: $primary-color,
      background: $white-color,
      hover: $primary-color,
      card: $black-color,
      dialog: rgba(220,220,220),
      disabled-button: $disabled-text-color,
      raised-button: $primary-color,
      focused-button: $primary-color,
      selected-button: $primary-color,
      selected-disabled-button: $disabled-text-color,
      disabled-button-toggle: $disabled-text-color,
      unselected-chip: $white-color,
      disabled-list-option: $disabled-text-color,
      tooltip: $text-color,
      primary: orange,
      accent: $primary-color,
      warn: $red-color,
      secondary-text: $white-color,
      default-contrast: $white-color,
    ),
  ),
);

@include mat.all-legacy-component-themes($primary-light-theme);
@include mat.all-legacy-component-typographies($poker-typography);


